flake8==5.0.4
pydantic==1.10.2
psycopg2-binary==2.9.5
Flask==2.1.0
Flask-WTF==1.0.1
sqlalchemy==1.4.44
prometheus-client==0.15.0
python-dotenv==0.21.0
environs==9.5.0
dagster==1.1.10
dagit==1.1.10
grpcio==1.32.0
